/* ARCHIVO NARROW */
@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivo-narrow/archivonarrow-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivo-narrow/archivonarrow-regular.woff') format('woff');
    font-weight: 400; 
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivo-narrow/archivonarrow-italic.woff') format('woff');
    font-weight: 400; 
    font-style: italic; 
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivo-narrow/archivonarrow-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivo-narrow/archivonarrow-semibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap; 
}

/* GENERAL SANS */
@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-Light.woff') format('woff');
    font-weight: 300; 
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-Bold.woff') format('woff');
    font-weight: 700; 
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-Italic.woff') format('woff');
    font-weight: 400; 
    font-style: italic; 
    font-display: swap;
}


@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-LightItalic.woff') format('woff');
    font-weight: 300; 
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-BoldItalic.woff') format('woff');
    font-weight: 700; 
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('general-sans/GeneralSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
