:root {
    --font-heading: 'Archivo Narrow', 'Inter', 'Avenir Next', Helvetica Neue, Arial, sans-serif;
    --font-body: 'General Sans', 'Inter', 'Gill Sans', 'Open Sans', Verdana, sans-serif;
    --porcelain: #F7F7F2;
    --black: #121113;
    --brown: #1D120B;
    --wisteria: #C2B3E3;
    --dusk: #445271;

    --primary: var(--porcelain);
    --accent: var(--dusk);
    --text: var(--brown);
    --text-alt: var(--black);
}

* {
    box-sizing: border-box;
    font-size-adjust: from-font;
    scroll-behavior: smooth;
}

body.dark-mode {
    --primary: var(--black);
    --accent: var(--wisteria);
    --text: var(--porcelain);
    --text-alt: var(--porcelain);

    & #landing {
        background-image: linear-gradient(
        rgba(18, 17, 19, 0.6), 
        rgba(18, 17, 19, 0.6)
    ), 
    url(../images/IMG_6913.jpg);
    }
}

body {
    margin: 0;
    font-family: var(--font-body);
    background-color: var(--primary);
    color: var(--text);
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
}

h1 {
    font-size: 3.5rem;
    margin: 1.5rem 0;
}

h2 {
    font-size: 3rem;
    margin: 1.5rem 0;
    /* color: var(--accent); */
}

h3 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

h4 {
    font-size: 2rem;
    margin: 0.25rem 0;
}

p, a {
    font-size: 1.5rem;
}

a { color: var(--text); }

time {
    font-size: 1.5rem;
}

ul {
    font-size: 1.5rem;
}

button {
    display: block;
    width: 22vw;
    margin: 3rem auto;
    padding: 1rem;
    background-color: var(--text);
    color: var(--primary);
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-body);
    border: 1px solid var(--text);
    transition: transform 0.2s ease-out;

    &:hover {
        background-color: var(--accent);
        color: var(--primary);
        cursor: pointer;
    }
}

#mode-toggle {
    display: none;
}

header {
    display: flex;
    padding: 1.5rem 5rem;
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0;
    width: auto; 
    background-color: var(--primary);
    z-index: 10;

    nav {
        width: 100%; 
        margin: 0; 

        & #menu-toggle, & label {
            display: none; 
        }

        & a {
            text-decoration: none;
            font-size: 1.2rem;
            padding: 0.2rem;

            &:hover {
                text-decoration: none;
                color: var(--primary);
                background-color: var(--text-alt);
                
            }
        }

        & ul {
            display: flex; 
            padding: 0;
            margin: 0;         
            gap: 1rem; 
            font-size: 1.2rem;
            list-style: none; 


            & #nav-start-right {
                margin-left: auto; 
            }
        }

        & li:first-child a {
            font-family: var(--font-heading);
            font-weight: 700;
            font-size: 2rem; 
            line-height: 0;
            letter-spacing: 0.1rem;

            &:hover {
                text-decoration: none;
                background-color: transparent;
                color: var(--text);
            }

        }
    }

    & #mode-toggle {
        width: auto;
        height: auto;
        font-size: 1.2rem;
        margin: 0; 
        padding: 0 0 0 1rem;
        margin-right: auto; 
        color: var(--accent);
        background-color: transparent;
        border: none;
    }

    & #mode-dialog {
            background-color: var(--accent);
            color: var(--primary);
            height: fit-content;
            width: fit-content;
            padding: 0.5rem 1rem;  

        & h1 {
            font-size: 2rem;
            text-align: center;
        }

        & button {
            height: auto;
            background-color: var(--primary);
            color: var(--text);
            margin: 1.75rem 0;

            &:hover {
                background-color: var(--text);
                color: var(--primary);
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    
    min-height: 100vh;
    margin: 0; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 5rem 5rem;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* --- LANDING SECTION --- */
#landing {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        rgba(248, 247, 237, 0.6), 
        rgba(248, 247, 237, 0.6)
    ), 
    url(../images/IMG_6902.jpg);
    
    & #skip  { 
        background-color: var(--text-alt);
        border: 1px solid var(--primary);
        color: var(--primary);
        padding: 0.5rem;
        margin: 0;
        width: 10rem;
        text-align: center;
        text-decoration: none;
    }
}

/* --- PROJECTS SECTION --- */

picture {
    transition: transform 0.2s ease-out;

    &:hover {
        transform: translateY(-0.5rem);
        cursor: pointer;
    }
}

.nav-arrow, .nav-arrow:hover {
    font-family: var(--font-heading);
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--text);
    border: none;
    width: auto;
    font-weight: 600;
    font-size: 3rem;
}

.gallery-view {
    & img {
        display: block;
        margin: auto;
    }
}

#kiosk-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

#projects-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin: 2rem 0;

    & li {
        margin: 0;
        padding: 0;

        & .project-card {
            & h3 {
                margin-bottom: 0.5rem;
            }

            & img {
                height: 350px;
                width: 100%;
                object-fit: contain;
                object-position: left center;
            }

            & p {
                margin: 0.5rem 0;
            }

            & a {
                display: block;
                text-decoration: none;
                color: var(--primary);
                text-align: center;
                width: 100%;
                margin: 1rem 0;
                padding: 1rem;
                background-color: var(--text);
                color: var(--primary);
                font-size: 1.5rem;
                font-family: var(--font-body);
                border: 1px solid var(--text);
                transition: transform 0.2s ease-out;

                &:hover {
                    background-color: var(--accent);
                    color: var(--primary);
                    cursor: pointer;
                }
            }
        }
    }
}

#load-container {
    /* background-color: var(--text); */
    gap: 1rem;

    & #local-btn, & #remote-btn {
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem;
        border: 1px solid var(--text);
    }
}

/* --- EXPERIENCE SECTION --- */
#experience {
    & .horizontal {
        display: flex; 
        flex-direction: row; 
        align-items: baseline; 
        justify-content: space-between; 
        
    }
}

/* --- SKILLS SECTION --- */
#skills {
    display: flex;
    flex-direction: column; 
    width: 100%;

    & #skills-list {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        gap: 0.5rem;
        padding: 0;

        & .skill-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 2rem 0;
            /* background-color: var(--text-alt); */
            /* color: var(--primary); */
            /* border: 1px solid var(--text-alt); */

            & .skill-logo {
                width: 4rem;
                height: 4rem;
            }
        }
    }

    & progress  {
        accent-color: var(--accent);
    }
}

/* --- ABOUT SECTION --- */
#about {
    & img {
        width: auto;
        max-height: 100%;
    }

    & a {
        text-decoration: none;
        color: var(--text);
        padding: 0 0.2rem;

        &:hover {
            background-color: var(--accent);
            color: var(--primary);
        }
    }

    & .horizontal {
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    & div {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    & iframe {
        align-self: center;
        height: 90vh;
        width: 90vw;
    }
}

/* --- CONTACT SECTION --- */

#contact { 
    & a {
        padding-top: 0.5rem;
        text-decoration: none;
        color: var(--text);
        &:hover {
            text-decoration: underline;
            color: var(--text);
        }
    }

    & #contact-list {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        gap: 0rem;
        padding: 0;
        margin: 5rem auto 0 auto;

        & .contact-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 1rem;
            /* border: 1px solid var(--text-alt); */

            &:hover {
                background-color: var(--text);
                color: var(--primary);

                & a {
                    color: var(--primary);
                }
            }

            & .contact-logo {
                width: 4rem;
                height: 4rem;
            }

            & a {
                font-size: 1.2rem;
                margin-top: 0.5rem;
                text-decoration: none;
            }
        }
    }

    & form {
        border: 1px solid var(--text-alt);
        background-color: var(--accent);
        padding: 2.5rem;

        & fieldset {
            border: none;
            padding: 0;
            margin: 0;

            & legend {
                color: var(--primary);
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
                padding: 0;
            }

            & div {
                width: 100%;
                margin-bottom: 1.5rem;
                display: flex;
                flex-direction: column;
            }

            & label {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                font-family: var(--font-heading);
                color: var(--primary);
            }

            & input, textarea {
                border: 1px solid var(--primary);
                border-bottom: 1px solid var(--primary);
                padding: 0.75rem 0.5rem;
                font-family: var(--font-body);
                font-size: 1.1rem;
                background-color: transparent; 
                color: var(--primary);
                width: 100%;
            }

            & textarea {
                resize: vertical;
            }
        }
        
        & #send-message {
            width: 100%;
            background-color: var(--text);
            color: var(--primary);
            border: 1px solid var(--text);
            transition: transform 0.2s ease-out;

            &:hover {
                background-color: var(--primary);
                color: var(--text);
                cursor: pointer;
            }
        }
    }
}

footer {
    border-top: 1px solid var(--text);
    padding: 1rem;
    width: 100%;
    background-color: var(--primary);

    & p {
        margin: 1rem 5rem;
        font-size: 1.2rem;
        color: var(--text);
    }
}





