:root {
    --font-heading: 'Archivo Narrow', 'Inter', 'Avenir Next', Helvetica Neue, Arial, sans-serif;
    --font-body: 'General Sans', 'Inter', 'Gill Sans', 'Open Sans', Verdana, sans-serif;
    --seashell: #f8f7ed;
    --black: #121113;
    --brown: #1D120B;
    --mint: #bbdccf;
}

* {
    box-sizing: border-box;
    font-size-adjust: from-font;
}

body {
    margin: 0;
    font-family: var(--font-body);
    background-color: var(--seashell);
    color: var(--brown);
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
}

h1 {
    font-size: 3.5rem;
    margin: 1.5rem 0;
}

h2 {
    font-size: 3rem;
    margin: 0.75rem 0;
}

h3 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

h4 {
    font-size: 2rem;
    margin: 0.25rem 0;
}

p, a {
    font-size: 1.5rem;
}

a { color: var(--seashell); }

time {
    font-size: 1.5rem;
}

ul {
    font-size: 1.5rem;
}

button {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--brown);
    color: var(--seashell);
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-body);
    border: 1px solid var(--brown);
    transition: transform 0.2s ease-out;

    &:hover {
        background-color: var(--mint);
        color: var(--brown);
        cursor: pointer;
    }
}

header {
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0;
    width: auto; 
    background-color: var(--black);
    z-index: 10;

    nav {
        width: 100%; 
        margin: 0; 

        & #menu-toggle, & label {
            display: none; 
        }

        & a {
            text-decoration: none;
            color: var(--seashell);
            font-size: 1.2rem;

            &:hover {
                text-decoration: underline;
                color: var(--seashell);
            }

            &:visited {
                color: var(--mint);
            }
        }

        & ul {
            display: flex; 
            padding: 1.5rem 5rem;
            margin: 0;         
            gap: 1rem; 

            font-size: 1.2rem;
            list-style: none; 


            & #nav-start-right {
                margin-left: auto; 
            }
        }

        & li:first-child a {
            font-weight: 700;
            font-size: 1.4rem; 
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    
    min-height: 100vh;
    margin: 0; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 5rem 5rem;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* --- LANDING SECTION --- */
#landing {
    height: 100vh;
    background-color: var(--black);
    color: var(--seashell);
}

/* --- PROJECTS SECTION --- */
picture {
    transition: transform 0.2s ease-out;

    &:hover {
        transform: translateY(-0.5rem);
        cursor: pointer;
    }
}

/* --- EXPERIENCE SECTION --- */
#experience {
    background-color: var(--black);
    color: var(--seashell);

    & h2 {
        color: var(--mint);
    }

    & .horizontal {
        display: flex; 
        flex-direction: row; 
        align-items: baseline; 
        justify-content: space-between; 
        
    }
}

/* --- SKILLS SECTION --- */
#skills {
    display: flex;
    flex-direction: column; 
    width: 100%;

    & #skills-list {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        gap: 1.5rem;
        padding: 0;

        & .skill-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 1rem;
            border: 1px solid var(--black);

            & .skill-logo {
                width: 8rem;
                height: 8rem;
            }
        }
    }

    & progress  {
        accent-color: var(--mint);
    }
}

/* --- ABOUT SECTION --- */
#about {
    background-color: var(--black);
    color: var(--seashell);

    & h2 {
        color: var(--mint);
    }

    & img {
        width: auto;
        max-height: 100%;
    }

    & .horizontal {
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    & div {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    & iframe {
        align-self: center;
        height: 90vh;
        width: 90vw;
    }
}

/* --- CONTACT SECTION --- */

#contact { 
    & a {
        padding-top: 0.5rem;
        text-decoration: none;
        color: var(--brown);
        &:hover {
            text-decoration: underline;
            color: var(--brown);
        }
    }

    & #contact-list {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
        gap: 1.5rem;

        & .contact-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 1rem;
            border: 1px solid var(--black);

            & .contact-logo {
                width: 8rem;
                height: 8rem;
            }
        }
    }

    & form {
        border: 1px solid var(--black);
        background-color: var(--mint);
        padding: 2.5rem;

        & fieldset {
            border: none;
            padding: 0;
            margin: 0;

            & legend {
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
                padding: 0;
            }

            & div {
                width: 100%;
                margin-bottom: 1.5rem;
                display: flex;
                flex-direction: column;
            }

            & label {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                font-family: var(--font-heading);
            }

            & input, textarea {
                border: 1px solid var(--brown);
                border-bottom: 1px solid var(--black);
                padding: 0.75rem 0.5rem;
                font-family: var(--font-body);
                font-size: 1.1rem;
                background-color: transparent; 
                color: var(--brown);
                width: 100%
            }

            & textarea {
                resize: vertical;
            }
        }
        
        & #send-message {
            background-color: var(--seashell);
            color: var(--brown);
            border: 1px solid var(--brown);
            transition: transform 0.2s ease-out;

            &:hover {
                background-color: var(--brown);
                color: var(--seashell);
                cursor: pointer;
            }
        }
    }
}

footer {
    border-top: 1px solid var(--brown);
    padding: 1rem;
    width: 100%;
    background-color: var(--black);

    & p {
        margin: 1rem 5rem;
        font-size: 1.2rem;
        color: var(--seashell);
    }
}





