:root {
    --font-heading: 'Poppins', 'Inter', 'Avenir Next', Helvetica Neue, Arial, sans-serif;
    --font-body: 'Raleway', 'Inter', 'Gill Sans', 'Open Sans', Verdana, sans-serif;
    --white: #F7F7F2;
    --black: #121113;
}

* {
    background-color: var(--white);
}

body{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: var(--font-body);
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    color: var(--black);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

nav a {
    text-decoration: none;
}
    
nav ul {
    display: flex; 
    padding: 1rem 0;
    margin: 0;         
    gap: 1rem; 

    font-size: 1.2rem;
    list-style: none; 
}

nav ul li:first-child a {
    font-weight: 700;
    font-size: 1.4rem; 
}

nav #nav-start-right {
    margin-left: auto; 
}

a {
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 

    min-height: 100vh;
    margin: 0; 
}

iframe {
    height: 90vh;
    width: 90vw;
}